
/* Padding to account for the nav bar. */
.filter {
  padding-top: 70px; /* Keep this in sync with the header's height! */
  padding-bottom: 10px;
  text-align: center;
}
.add {
  padding-bottom: 60px;
}

/* Let's turn off link styling. */
header a {
  color: #fff;
  text-decoration: none;
}

/* Search terms. Some columns can be narrower. */
.filter input[name="query_type"] {
  width: 100px;
}
.filter select[name="query_slot"] {
  width: 200px;
}
.filter input[name="query_level"] {
  width: 20px;
}

